html, body, h1, h2, a, p, h3{
    padding: 0;
    margin: 0;
    border: 0;
    font-family: 'Poiret One', cursive;
}

.titleBody {
    background: url(Images/mainBackground.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 800px;
}

.nav {
    display: flex;
    justify-content: space-between;
    margin: 0 25px;
    padding-bottom: 5px;
    color: #eee;
    border-bottom: 2px solid #eee;
    font-size: 25px;
}

.nav a {
    display: inline-flex;
    color: #eee;
    text-decoration: none;
    justify-content: flex-end;
    margin: 0 25px;
}

h1 {
    text-align: center;
    color: #eee;
    font-size: 75px;
    margin: 200px auto 0 auto;
}

.bar {
    display: flex;
    justify-content: space-around;
    align-content: center;
    margin-left: 40%;
    background-color: #eee;
    width: 290px;
    height: 2px;
    
}

h2 {
    text-align: center;
    color: #eee;
    font-size: 50px;
    font-weight: lighter;
    margin-top: 15px;
}

.bread {
    display: flex;
    background-color: #000000;
}

.breadImg {
    background: url(Images/Bread.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 500px;
    width: 40%;
}

h3 {
    padding-bottom: 30px;
    font-size: 45px;
}

.breadText {
    color: #eee;
    width: 60%;
    margin: 100px;
    padding-top: 30px;
    align-content: center;
    font-size: 25px;
    align-items: baseline;
}

.pineapple {
    display: flex;
    background-color: #181818;
}

.pineImg {
    background: url(Images/Pineapple.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 500px;
    width: 40%;
}

.pineText {
    color: #eee;
    width: 60%;
    margin: 100px;
    padding-top: 30px;
    align-content: center;
    font-size: 25px;
    align-items: baseline;
}

.pasta {
    display: flex;
    background-color: #242424;
}

.pastaImg {
    background: url(Images/Pasta.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 500px;
    width: 40%;
}

.pastaText {
    color: #eee;
    width: 60%;
    margin: 100px;
    padding-top: 30px;
    align-content: center;
    font-size: 25px;
    align-items: baseline;
}